.player {
  width: 300px;
  display: flex;
  align-items: center;
  background-color: rgba(152, 152, 152, 0.8);

  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

  span {
    font-size: 32px;
    margin-left: 16px;
  }

  img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.player-active {
  background-color: #ffd842;
}
