.field {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-stack {
  position: relative;
  img {
    position: absolute;
    width: 120px;
  }
}

.top-card {
  cursor: pointer;
  transition: all 125ms ease-in-out;

  &:hover {
    transform: scale(1.1) translateY(-10px);
  }
}

.pick-card {
  animation: pick-card-animation 1s ease-in-out;
  transform: scale(1.2) translateX(150px) translateY(-180px) rotate(10deg);
}

.played-card {
  right: 25px;
  transform: scale(1.2) translateX(150px) translateY(-180px) rotate(10deg);
}

.player-position {
  position: absolute;
  right: 0;
  z-index: 1;
}

.add-btn {
  position: absolute;
  right: 32px;
  bottom: 32px;
}

#new-game-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.info-card {
  position: absolute;
  left: 32px;
  right: 120px;
  bottom: 32px;
}

.scroll-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  gap: 12px;
  overflow-y: auto;
  z-index: 1;
}

app-player,
app-player-mobile {
  cursor: pointer;

  &:hover {
    filter: brightness(1.15);
  }
}

@keyframes pick-card-animation {
  0% {
    transform: scale(1) translateX(0) translateY(0) rotate(0deg);
  }
  30% {
    transform: scale(1.4) translateX(0) translateY(0) rotate(0deg);
  }
  60% {
    transform: scale(1.4) translateX(0) translateY(0) rotate(0deg);
  }
  100% {
    transform: scale(1.2) translateX(150px) translateY(-180px) rotate(10deg);
  }
}

@media (max-width: 800px) {
  .info-card {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .add-btn {
    position: absolute;
    right: 32px;
    bottom: 120px;
  }
}
