.field {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-stack {
  position: relative;
  img {
    position: absolute;
    width: 140px;
  }
}

.top-card {
  cursor: pointer;
  transition: all 125ms ease-in-out;

  &:hover {
    transform: scale(1.1) translateY(-10px);
  }
}

.pick-card {
  animation: pick-card-animation 1s ease-in-out;
  transform: scale(1.2) translateX(150px) translateY(-300px) rotate(10deg);
}

.played-card {
  right: 25px;
  transform: scale(1.2) translateX(150px) translateY(-300px) rotate(10deg);
}

.player-position {
  position: absolute;
  right: 0;
  z-index: 1;
}

.add-btn {
  position: absolute;
  right: 32px;
  bottom: 32px;
}

.info-card {
  position: absolute;
  left: 32px;
  right: 120px;
  bottom: 32px;
}

@keyframes pick-card-animation {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.4);
  }
  60% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1.2) translateX(150px) translateY(-300px) rotate(10deg);
  }
}
