.player {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 12px;

  background-color: rgba(152, 152, 152, 0.8);

  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;

  span {
    width: 100%;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-inline: 12px;
  }

  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.player-active {
  background-color: #ffd842;
}
