/*------ */
/* RESET */
/*------ */

* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

button,
a {
  cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
