/*------ */
/* RESET */
/*------ */

* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

button,
a {
  cursor: pointer;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

@media (min-width: 800px) {
  .hide-desktop {
    display: none !important;
  }
}

@media (max-width: 800px) {
  .hide-mobile {
    display: none;
  }
}
